<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
</head>
<script src="/assets/js/main.js"></script>
<body>
  <header>
    <h1 id="title"><em>Welcome to D's World</em></h1>
    <p>A hodgepodge of personal interests</p>
    <button id="darkModeToggle" style="margin: 1rem;">Light/Dark</button>
  </header>

<nav>
  <ul class="navbar">
    <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
    <li><a href="/reading-list/" class="{% if page.url == '/reading-list/' %}active{% endif %}">Reading List</a></li>
    <li><a href="/programming/" class="{% if page.url == '/programming/' %}active{% endif %}">Programming</a></li>
    <li><a href="/plant-life/" class="{% if page.url == '/plant-life/' %}active{% endif %}">Plant Life</a></li>
    <li><a href="/coffee/" class="{% if page.url == '/coffee/' %}active{% endif %}">Coffee</a></li>
    <li><a href="/tea-herbalism/" class="{% if page.url == '/tea-herbalism/' %}active{% endif %}">Tea & Herbalism</a></li>
    <li><a href="/strength-power/" class="{% if page.url == '/strength-power/' %}active{% endif %}">Strength Training</a></li>
    <li><a href="/music/" class="{% if page.url == '/music/' %}active{% endif %}">Music</a></li>
    <li><a href="/misc/" class="{% if page.url == '/misc/' %}active{% endif %}">Misc.</a></li>
  </ul>
</nav>


  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>&copy; 2025 D's Website</p>
  </footer>
</body>
</html>
