<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<script src="/js/main.js"></script>
<body>
  <header>
    <h1 id="title"><em>Welcome to D's World</em></h1>
    <p>A hodgepodge of personal interests</p>
    <button id="darkModeToggle" style="margin: 1rem;">Light/Dark</button>
  </header>

<nav>
  <ul class="navbar">
    <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
    <li><a href="/about/" class="{% if page.url == '/about/' %}active{% endif %}">About</a></li>
    <li><a href="/posts/reading-list/" class="{% if page.url == '/posts/reading-list/' %}active{% endif %}">Reading List</a></li>
    <li><a href="/posts/programming/" class="{% if page.url == '/posts/programming/' %}active{% endif %}">Programming</a></li>
    <li><a href="/posts/plant-life/" class="{% if page.url == '/posts/plant-life/' %}active{% endif %}">Plant Life</a></li>
    <li><a href="/posts/coffee/" class="{% if page.url == '/posts/coffee/' %}active{% endif %}">Coffee</a></li>
    <li><a href="/posts/tea-herbalism/" class="{% if page.url == '/posts/tea-herbalism/' %}active{% endif %}">Tea & Herbalism</a></li>
  </ul>
</nav>


  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>&copy; 2025 D's Website</p>
  </footer>
</body>
</html>
